#sidebar {
  #menu {
    display: flex;
    flex-direction: column;
    padding-top: 9.5vh;

    a {
      text-decoration: none;
      color: #FFF;
      padding: 15px 20px;
      &:hover {
        background-color: gray
      }

      #item-menu {
        display: flex;
        gap: 15px;
        img {
          margin-top: -3px;
        }
      }

    }
  }
}